.navbar {
    background-color: #021628;
    padding: 1rem 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'K2D', sans-serif;
    cursor: pointer;
}


.searchBox {
    position: absolute;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 50px;
    background: #011D36;
    left: 20%;
    max-height: 40px;
}

.searchBox input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
    max-height: 20px;
}
.searchBox input::placeholder {
    color: #fff;
}
.searchIcon {
    max-width: 30px;
}