@import url('https://fonts.googleapis.com/css2?family=K2D:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background-color: #011d36;
}

h1 {
    color: #fff;
}

.navbar {
    background-color: #021628;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'K2D', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links span {
    color: #fff;
    text-decoration: none;
}